{% extends "layout.njk" %}

{% set aboutMenu = false %}
{% set recipesMenu = true %}

{% block content %}
    <section class="recipes">
        <div class="container">
            <div class="recipes__cards">
            {% for recipe in recipes %}
                <div class="recipe__card" id="{{recipe.id}}">
                    <div class="recipe__image">
                        <img src="{{recipe.image}}" alt="{{recipe.title}}">
                    </div>
                    <div class="recipe__description">
                        <div class="recipe__title"><h2>{{recipe.title}}</h2></div>
                        <div class="recipe__author"><h3>por {{recipe.author}}</h3></div>
                    </div>
                </div>
            {% endfor %}
            {% for recipe in recipes %}
                <div class="recipe__card" id="{{recipe.id}}">
                    <div class="recipe__image">
                        <img src="{{recipe.image}}" alt="{{recipe.title}}">
                    </div>
                    <div class="recipe__description">
                        <div class="recipe__title"><h2>{{recipe.title}}</h2></div>
                        <div class="recipe__author"><h3>por {{recipe.author}}<h3></div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
  <script src="scripts.js"></script>
{% endblock scripts %}
