@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root{
    --color-text-primary: ##111111 ;
    --color-text-secondary: #777777;
    --color-text-third: #444444 ;
    --color-text-fourth: #999999;
    
    --color-effect-primary: #FBDFDB;
    --color-effect-secondary: #eeeeee ;

    --color-background: #fff;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: var(--color-background);
    font-family: 'Roboto', sans-serif;
}

/* === FOODFY GRID LAYOUT === */
.wrapper{
    display: grid;
    grid-template: "h" 1fr "m" 1fr "f" 1fr;
    justify-items: center;
}

.wrapper header{
    padding-left: 5px;
    grid-area: h;
    
    display: flex;
    align-items: center;

    min-width: 940px;
    max-height: 96px;

}

.wrapper main{
    grid-area: m;
    
    max-width: 940px;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
}

.wrapper footer{
    grid-area: f;

    max-height: 62px;
    width: 100%;

    position: fixed;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* === LOGO === */
.logo{
    width: 90.6px;
    height: 26.9px;
    margin-right:120px;
}

.logo img{
    width: 100%;
    padding-bottom: 5px;
}

/* === NAV BAR === */

header .menu{
    font-size: 16px;
    line-height: 26px;
    color: var(--color-text-primary);

    display: flex;
    justify-items: start;
}

.menu a{
    color: var(--color-text-primary);
}


.menu a:hover{
    color: var(--color-effect-primary);
    border-bottom: 1px solid var(--color-effect-primary);
}

.menu__item{
    padding: 0 15px;
}

.menu__item--active{
    font-weight: bold;
}

/* === FOOTER === */
.footer{
    color: var(--color-text-fourth);
    background-color: var(--color-effect-secondary);

    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.footer__author a{
    color: var(--color-text-third);
    font-weight: 400;
}

.footer__author a:hover{
    border-bottom: 1px solid ;
    transition: 200ms;
}

/* === PAGE ABOUT === */
main .about{
    padding: 15px 0 ;

    display: flex;
    flex-direction: column;
}

.about__text{
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
    color: var(--color-text-third);

    padding-top: 20px;
}

.about__title{
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    color: var(--color-text-primary);
}

.about__title--highlight{
    font-size: 24px;
    line-height: 28px;
}