{% extends "layout.njk" %}

{% block content %}
    <section class="banner">
        <div class="container">
            <div class="banner__context">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo
                    inteiro</p>
            </div>
            <div class="banner__image">
                <img src="/assets/chef.png" alt="chef">
            </div>
        <div>
    </section>
    <section class="recipes">
        <div class="container">
            <div class="recipes__title">
                <h2>Mais acessadas</h2>
            </div>
            
            <div class="recipes__cards">
            {% for recipe in recipes %}
                <div class="recipe__card" id="{{recipe.id}}">
                    <div class="recipe__image">
                        <img src="{{recipe.image}}" alt="{{recipe.title}}">
                    </div>
                    <div class="recipe__description">
                        <div class="recipe__title"><h2>{{recipe.title}}</h2></div>
                        <div class="recipe__author"><h3>por {{recipe.author}}</h3></div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
        
{% block scripts %}
    <script src="scripts.js"></script>
{% endblock %}

